.banner {
  background-image: url("../img/banner-text-shadow-bg.png");
  background-repeat: no-repeat;
  background-position: center center;

  &__body {
    border-bottom: 2px solid var(--footer-bg);
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 145px 0 84px;

    @include lg-block{
      padding-bottom: 180px;
    }
  }

  &__socials {
    position: absolute;
    bottom: 28px;
    left: 0;
  }

  // banner__info
  &__info {
    position: absolute;
    bottom: 28px;
    right: 0;
  }

  &__info-label {
    font-size: 24px;
    color: #fff;
    opacity: 0.5;
    transform: rotate(-90deg);
    width: 24px;
    height: 27px;
    white-space: nowrap;
    margin-bottom: 10px;
  }

  &__info-line {
    width: 2px;
    height: 120px;
    background-color: #ffffff;
    opacity: 0.5;
    margin: 0 auto;

    @include lg-block{
      height: 80px;
    }
  }

  &__warranty {
    position: absolute;
    right: 0;
    top: 54px;

    @include lg-block{
      top: 10px;
    }
  }
  &__warranty-image {
    max-width: 129px;
    width: 100%;

    @include lg-block{
      max-width: 100px;
    }
  }
}
