.title {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 400;

  span {
    color: var(--green);
  }

  @include md-block{
    font-size: 36px;
  }

  &--upper-none {
    text-transform: none;
  }

  &--md {
    font-size: 30px;

    @include md-block{
      font-size: 22px;
    }
  }
}

.subtitle {
  margin: 0;
}

.title-bold {
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;

  @include md-block{
    font-size: 26px;
  }

  span {
    color: var(--green);
  }
}
